*
{
margin:-40px;
padding:20px;
}

body
{
  background:black;
  font-family: Arial, sans-searl,'Times New Roman';
}

#CUERPO
{
  background:#2f6f40;
  width:1100px;
  margin:-25px auto;
  border: 2.5px solid white;
  color: black;
  padding: -40px;
}

#TITULO
{
  background:#265912;
  width:1100px;
  margin:-25px auto;
  border: 2.5px solid white;
  color: black;
  padding: -40px;
}
